/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #006064;
}

html {
    font-size: 1em;
    line-height: 1.4;
	font-family: "Roboto";
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #e0f7fa;
    text-shadow: none;
}

::selection {
    background: #e0f7fa;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #e0f7fa;
    color: #006064;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  
min-height: 100%;
}
   body{
font-family: 'Abel', sans-serif;
 background:#e0f7fa; 
}
h1,h2{
color:#00bcd4 ;
}
h3{
text-transform:uppercase;
letter-spacing:.5em;
word-spacing:.5em;
}
.container{
max-width:900px;
}
.panel-group{

vertical-align:center;
margin:1em 0;
}
.panel-heading{
background:-webkit-linear-gradient(#bbb, #ddd); 
background:-o-linear-gradient(#bbb, #ddd); 
background:-moz-linear-gradient(#bbb, #ddd); 
background:linear-gradient(#bbb, #ddd);
box-shadow:2px 2px 5px #eee;
}
.panel-heading:hover{
background:#ddd ;
}
.panel-heading:active{
background:white ;
}
.panel-heading:target{
background:#000 ;
}
.panel-title a:hover{
text-decoration:none ;
}
footer{
font-weight: 400;
line-height: 1;
color: #777;
width:100%;
position:fixed;
bottom:0;
background:black;
padding:1em 2em;
overflow:hidden;
} 
.fa{
color:Khaki ;
font-size:3em;
padding-right:.5em;
}
.fa:hover{
color:#777 ;
}

.fa-envelope{
padding:.5em;
background-color:rgba(0,0,0,0.3);
border-radius:50%;
margin:1em .5em;
color:Khaki;
font-size:2em;

}
.fa-print{
padding:.5em;
background-color:rgba(0,60,64,0.3);
border-radius:50%;
margin:1em .5em;
color:Khaki;
font-size:2em;

}
.fa-stop{
color:white;
} 

.fa-graduation-cap{
color: #777;
font-size:2em;

}
.fa-user{
color: #777;
font-size:2em;

}
.fa-building{
color: #777;
font-size:2em;

}
.fa-cogs{
color: #777;
font-size:2em;

}
.fa-arrows-v{
color:gray;
font-size:.8em;

}
.portfolio{
width:100%;
color:Khaki;
font-size:1em;
text-transform:uppercase;
letter-spacing:.5em;
}
.portfolio a{
text-decoration:none;
color:Khaki;
}
#redes{
position:absolute;
bottom:4em;
right:0;
width:70px;
background:rgba(0,0,0,0.7);
}
#redes a{
padding:1em;
display:block;
z-index:1000;
}
.nav>li>a {
color:#006064;
box-shadow:2px 2px 5px #777;
}

.nav>li{
background:-webkit-linear-gradient(#ccc, #eee); 
background:-o-linear-gradient(#ccc, #eee); 
background:-moz-linear-gradient(#ccc, #eee); 
background:linear-gradient(#ccc, #eee);

}

.tooltip-arrow{
border:#777;
}
.tooltip-inner{
background-color:#777;
font-size:1.2em;
padding:.5em;
border-radius:10%;

}
#blogroll ul {
list-style:none;
}
#blogroll ul li {
padding-right:1em;
display:inline;
}
#blogroll ul li a {
color:#777;
}
#blogroll {
margin-left:5%;
font-size:1.5em;
  animation-duration: 30s;
  animation-name: slidein;
 /*  animation-iteration-count: infinite; */ 
  -webkit-animation-duration: 30s;
  -webkit-animation-name: slidein;
  /*  -webkit-animation-iteration-count: infinite; */ 
}
#banderola {
font-size:1.8em;
font-weight:bold;
color:#777;
position:absolute;
background-color:Khaki;
padding:0 2em .2em;
transform:rotate(-30deg);
margin-left:-50px;
}
#redes {
display:none;
}
#acordeon {
display:none;
}
#nombre {

display:none;
}
#iconsup {
display:none;
}
footer {
display:none;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 5%;
    width: 100%;
  }
}
@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 5%;
    width: 100%;
  }
}
.tab-pane{
max-height:200px;
overflow:auto;
}

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
/* Aquí empiezan mis estilos de print */

.panel-collapse{
display:block;
}

#datos
{
display:table;
}
.celda{
display : table-cell;
/* width:30%; */
}
.foto{
position:absolute;
right:0;
top:100px;
}
#redes,
.fa,
.fa-envelope,
.fa-print,
.fa-graduation-cap,
.fa-user,
.fa-building,
.fa-cogs,
.fa-arrows-v,
.portfolio,
footer
{
display:none!important;
}

.nav-tabs{
display:none;
}
.tab-content>.tab-pane{
display:block;
}

/* aqui terminan mis estilos personalizados de print */

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

}

